/*Le damos un backgroud, un borde, un padding y alineamos el texto al centro*/
h1{
    background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
/*Le damos un background, un borde, un padding y alineamos el texto al centro*/
h2{
    background: #6699ff;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;
}
/*Alineamos el footer al centro*/
footer{
    text-align:center;
}
/*Le damos estilo al navbar que está situado en la parte superior izquierda de la página*/
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 1.8em;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
    ul.navbar li {
        background: rgb(214, 214, 214);
        margin: 0.5em 0;
        padding: 0.3em;
        border-right: 1em solid #6699ff }
      ul.navbar a {
        text-decoration: none }
